<section class="resources">
    <h2>Resources</h2>
    {{#each model as |resource|}}
        <div class="row">
            <div class="col s12 m10">
                {{resource-item resource=resource}}
            </div>
        </div>
    {{/each}}

    {{outlet}}
</section>
