// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import 'components/color';

$primary-color: color("grey", "base");

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

.resource {
    @extend .card;

    &.status_o {
        @extend .green;
        @extend .lighten-1;

        h3 i:after {
            content: "thumb_up";
        }

    }

    h3 {
        @extend .card-title;
    }
}
